.home {

    color: white;
    
    display: flex;
    width: 100vw;
    height: 100vh;

    .dev, .gaming {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        img {
            width: 100px;
            display: block;
        }

        h3 {
            font-size: 20px;
            text-align: center;
            margin-top: 14px;
        }

        @include breakpoint(sm) {
            h3 {
                font-size: 40px;
            }
            img {
                width: 200px;
            }
        }


    }

    .dev {
        width: 50%;
        background: $clr_primary;
        img {
            margin-left: -20px;
        }
    }

    .gaming {
        color: black;
        width: 50%;
    }



    header {
        position: absolute;
        top: 40px;
        left: 50%;
        width: 100vw;
        transform: translateX(-25%);
        z-index: 4;
        text-align: center;
        h1 {
            font-size: calc(100% + 7vw); 
        }
    }

    .gaming {
        header {
            left: -50%;
        }
    }



    &.gaming {
        .gaming {
            width: 100%;
        }

        .dev {
            width: 0%;
        }
    }

}