$dark: #061212;
$blue_1: #13252c;
$blue_2: #267e81;
$blue_3: #2e9397;
$blue_4: #b5eec8;

$gold_1: #776e38;
$gold_2: #958a46;
$gold_3: #aa9e50;
$gold_4: #d8cb73;

$parchment: #cdc1a2;
$parchment_2: #b7ab8d;
$parchment_3: #918564;

$sea_green_1: #0e2b28;
$sea_green_2: #0e1b20;
$gold_1: #d6b53e;
$gold_2: #bb8729;

$off_green: #5e5c58;


$med: 780px;
$large: 1200px;


.sot {

    background: $sea_green_1;
    color: $gold_1;


    a {
        color: $blue_4;
    }

    header {
    
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;


        @include breakpoint($med) {
            height: 40vh;
            min-height: 350px;
        }


        .imageholder {
            position: absolute;
            background-color: $blue_3;
            background-image: url("/images/sot_background.jpg");
            background-position: center center; /* Center the image */
             background-repeat: no-repeat; /* Do not repeat the image */
             background-size: cover; /* Resize the background image to cover the entire container */
            width: 100%;
            height: 100%;
        }
        
    
    
        h1 {
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            line-height: 0.9em;
            z-index: 2;
            font-size: calc(100% + 7vw); 
            @include breakpoint($large) {
                font-size: 8em;
            }
            @include breakpoint($med) {
                font-size: calc(100% + 9vw); 
            }
        }
    
        h3 {
            font-size: 2em;
            @include breakpoint($med) {
                font-size: 3em;
            }
            margin: 0;
            padding: 0;
            text-shadow: 0px 0px 8px #fff;	
            //letter-spacing: 0.4em;
            color: #000;
            z-index: 2;
            font-variant: small-caps;
        }
    
    }

    .section-padding {
        padding: 50px 0;
        @include breakpoint($med) {
            padding: 100px 0;
        }
    }

    .SOTM {
        text-align: center;
        background: linear-gradient(180deg, rgba($sea_green_1,1) 0%, rgba($sea_green_2,1) 100%);

        article {
            display: inline-block;
            text-align: center;
            position: relative;
            width: 90%;
            max-width: 1200px;

            img {
                width: 100%;
                display: block;
                border: 1px solid black;
            }
        }


        
        
        .overlay {
            
            z-index: 2;
            width: 80%;
            margin: 0 auto -60px;
            

            > div {
                background: rgba(0,0,0,0.6);
                padding: 20px;
            }

            h2 {
                font-size: 1.4em;
                text-align: center;
                line-height: normal;
                letter-spacing: 0.05em;
                font-variant: small-caps;
            }

            @include breakpoint($med) {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                margin: auto;

                h2 {
                    font-size: 2em;
                }

                > div {
                    padding: 40px;
                }
            }

            p {
                margin-top: 20px;
                color: white;
                padding: 0 20px; 
            }

            a {
                margin-top: 20px;
                background: $blue_2;
                color: white;
                padding: 14px 30px;
                display: inline-block;
                text-decoration: none;
                border-radius: 8px;
            }
        }


        aside {
            color: white;
            margin-top: 30px;
            font-size: 0.8em;
            line-height: 2em;
        }

    }


    .bio {

        aside {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint($med) {
                flex-direction: row;
            }
        }

        .circles_container {
            width: 300px;
            height: 300px;
            position: relative;
            margin-bottom: 30px;

            .circle {
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .outside_circle_1 {
                width: 100%;
                height: 100%;
                background: $blue_2;
                z-index: 4;
            }

            .outside_circle_2 {
                width: 90%;
                height: 90%;
                background: $blue_3;
                z-index: 4;
            }


            .circleImage {
                flex: 0 0 300px;
                width: 80%;
                height: 80%;

                
                background-image: url('/images/comodore_chenzo.jpg');
                background-size: cover;
                display: block;
                z-index: 5;
            }
        }

		

		p {
            padding: 0 40px;
            flex: 1;
            color: white;
            line-height: 1.6em;

			.init_caps {
				font-size: 3em;
				font-weight: 700;
				float: left;
				line-height: 1.1em;
				margin-right: 4px;
			}
		}
    }

    .continuing_tales, .guides, .bio, .contact {
        background: linear-gradient(180deg, rgba($sea_green_1,1) 0%, rgba($sea_green_2,1) 100%);

        h2 {
            font-size: 2em;
            text-align: center;
            margin: 0 auto 40px;
            line-height: normal;
            letter-spacing: 0.05em;
            font-variant: small-caps;
            max-width: 90%;

            @include breakpoint($med) {
                margin: 0 auto 80px;
            }

            span {
                display: block;
                font-size: 14px;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                color: $white_1;
                font-variant: initial;
            }
        }

    }


    .contact {

        .contact_boxes {
            max-width: 1280px;
            margin: 0 auto;
            display: grid;
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            -ms-grid-rows: 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 40px; 
            padding: 0 30px;

            @include breakpoint($med) {
                -ms-grid-columns: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
            }

            @include breakpoint($large) {
                -ms-grid-columns: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 40px;
                grid-row-gap: 40px; 
            }

            .one_contact {
                position: relative;

                img {
                    width: 60px;
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    z-index: 2;
                }

                a {
                    background: rgba(0,0,0,0.6);
                    padding: 20px 0 20px 0;
                    display: block;
                    text-decoration: none;
                    color: white;

                    h4 {
                        padding: 0 0 10px 50px;
                        font-size: 2em;
                        color: #bbb;
                    }

                    p {
                        padding: 0 20px;
                        font-size: 0.8em;
                        line-height: 2em;
                        span {
                            display: block;
                            margin-top: 10px;
                            color: $gold_1;
                        }
                    }
                }
            }
        }

        
    }

    .seperator {

        text-align: center;
        position: relative;
        margin-top: -10px;

        img {
            position: absolute;
            display: block;
            top: -24px;
            left: 50%;
            margin-left: -24px;
        }

        hr.mid {
            width: 75%;
            border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba($gold_1, 0), rgba($gold_1, 0.75), rgba($gold_1, 0));
        }

    }


    .articles {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
		
		-ms-grid-columns: 1fr;
		-ms-grid-rows: 1fr;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 40px;
        grid-row-gap: 40px; 
        
        @include breakpoint($med) {
            -ms-grid-columns: 1fr 1fr;
            -ms-grid-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        article {

            color: inherit!important;
            max-width: 800px;
            //overflow: hidden;

            .img_holder {
                position: relative;
                width: 100%;
                img {
                    width: 100%;
                    display: block;
                }

                h2 {
                    font-size: 1.5em;
                    font-weight: 700;
                    line-height: normal;
                    text-align: left;
                    color: $parchment;
                    position: absolute;
                    text-shadow: #000 2px 2px 2px;
                    bottom: 10px;
                    margin: 0 20px;
                }
            }


            a.link_to_post {
                text-decoration: none;
                color: $black_1;
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;

                .text_space {
                    padding: 10px 20px 20px;
                    background-image: linear-gradient(to bottom, rgba($parchment, 1), rgba($parchment_2, 1));
                    flex: 1;

    
                    p {
                        font-size: 0.9em;
                        margin: 10px 0;
                    }
    
                    span {
                        font-size: 0.9em;
                        color: $white_1;
                        padding-bottom: 20px;
                    }
                }

                
            }
        }
    }

}



.twitch_holder {
    width: 400px;
    height: 200px;
}